.container-fluid {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .container-fluid {
    width: 100%;
    margin-left: -10px;
 
 
  }
}

.section-1 {
  width: auto;
  height: 72.5vh;
  display: flex;
  background: url("/images/banner2.png") no-repeat;
  background-size: cover;
}

.logo {
  top: 1rem;
  left: 20%;
  position: absolute;
}

.navbar {
  top: 1rem;
  right: 16%;
  position: absolute;
}
.navbar-link {
  font-size: 1.5rem;
  display: inline-block;
  justify-content: space-evenly;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1rem;
  border-bottom: 1px solid #fff;
  margin: 0 3rem;
  text-decoration: none;
  text-transform: uppercase;
}

.logo:hover,
.navbar-link:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.sticky-nav {
  width: 100%;
  height: 6.7rem;
  position: relative;
  display: flex;
}

.logo2 {
  top: 1rem;
  position: absolute;
  left: 20%;
}

.navbar2 {
  top: 2rem;
  right: 16%;
  position: absolute;
}

.navbar-link2 {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 3rem;
  text-decoration: none;
  letter-spacing: 0.1rem;
  border-bottom: 1px solid #414f6b;
  justify-content: space-evenly;
  color: #414f6b;
  text-transform: uppercase;
}

.logo2:hover,
.navbar-link2:hover {
  color: #414f6b;
  text-decoration: none;
  cursor: pointer;
}

.section-2 {
  width: 100%;
  height: 94vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background: url("/images/background.png") no-repeat;
  background-size: cover;
}

.historyTextSection {
  width: 62%;
}

.history {
  margin-top: 5rem;
}

.nos {
  left: 20%;
}
.historyText {
  width: 94%;
  flex-direction: column;
  font-size: 1.5rem;
  left: 10%;
  font-weight: 300;
  margin-left: 6rem;
}

.carousel-bg {
  width: 100%;
  height: auto;
  position: absolute;
  background-color: rgba(65, 79, 107, 0.85);
  bottom: 0;
  padding: 3rem;
}

.thumb-container {
  position: relative;
  width: 67%;
}

.carousel-indicators {
  margin-left: 40rem;
  left: 0;
  top: auto;
  bottom: -20%;
}

.carousel-indicators:hover {
  cursor: pointer;
}

.carousel-indicators li {
  background: rgba(231, 231, 231, 0.3);
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.carousel-indicators .active {
  background: #fff;
}

.row {
  margin-left: 25rem;
  margin-bottom: 1rem;
}

.section-3 {
  width: 100%;
  height: 85vh;
  position: relative;
}

.climb-text-container {
  position: relative;
  left: 18%;
}

.climb-text-section {
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
}

.climb-text {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0 2rem;
  width: 60%;
}

.tab-container {
  width: 100%;
  background-color: #414f6b;
}

.tab-content {
  font-size: 2rem;
  font-weight: 300;
}

.tab-bg1 {
  background: url("/images/tab1.png") no-repeat;
  background-size: cover;
  height: 80%;
  position: relative;
  background-position: bottom;
}
.tab-bg2 {
  background: url("/images/tab2.png") no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
  background-position: bottom;
}

.schedule-container {
  position: absolute;
  top: 15%;
  left: 16%;
  z-index: 1;
}

.nav-tabs .nav-link {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  left: 138%;
  color: rgb(175, 182, 197);
  letter-spacing: -0.1rem;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #414f6b;
  background-color: rgb(175, 182, 197) !important;
  border-color: #414f6b !important;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 1px;
  letter-spacing: -0.1rem;
  border-bottom: none;
  border-top: none;
}

.schedule {
  margin: 3rem 0 1rem 5.4rem;
}

.schedule-text {
  display: flex;
  font-weight: 300;
  opacity: 0.7;
  margin-top: 0.8rem;
  padding: 0 1rem;
  margin-left: 2.4rem;
}

.schedule-dates {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin: 0 2rem;
}

.schedule-events {
  margin-left: 4rem;
}

.schedule-dates p,
.schedule-events p {
  font-size: 1.7rem;
}

/* Footer */
.footer {
  height: 8rem;
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: #414f6b;
  display: flex;
}

.footer-logo {
  position: absolute;
  align-self: center;
  display: flex;
  width: 18rem;
  height: 5rem;
  left: 16%;
}

.copyright {
  position: absolute;
  right: 16%;
  align-self: center;
}
